# Java / Maven
HELP.md
target/
!.**/src/main/**/target/
!.**/src/test/**/target/

# Logs y Temporales
*.log
/logs/
temp/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/
.history/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### Secrets & Config ###
.env
.env.local
.env.*.local

### OS ###
.DS_Store
Thumbs.db
